#cart {
    background-color: white;
    div#cartitems {
        article{
            fa-times-circle {
                size: 1000px
        }
    }
    div#total {

    }
    form {
        bottom: 10px;
    }

    }
}

