#menu {
  top: 80px;
  width: 100%;
  background-color: #F0F0F0;
  position: fixed;
  z-index: 10;
  li {
    padding: 0.5em 3em;
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    a {
      text-decoration: none;
    }
  }
}

#anchorAppetizers {
  position: relative;
  bottom: 100px;
}
#anchorSalads {
  position: relative;
  bottom: 100px;
}
#anchorFish\ \&\ Chips {
  position: relative;
  bottom: 100px;
}
#anchorHamburgers\ \&\ Sandwiches {
  position: relative;
  bottom: 100px;
}