#menu {


  top: 80px;
  width: 100%;
  background-color: #f0f0f0;
  position: fixed;
  z-index: 10;
  li {
    padding: 0.5em 3em;
    font-family: 'Acme', sans-serif;
    font-size: 22px;
  }
}

#anchorAppetizers {
  position: relative;
  bottom: 153px;
}
#anchorSalads {
  position: relative;
  bottom: 153px;
}
#anchorFish\ \&\ Chips {
  position: relative;
  bottom: 153px;
}
#anchorHamburgers\ \&\ Sandwiches {
  position: relative;
  bottom: 153px;
}

#menu {
  a {
    color: #212529;
  }
}

.header {
  a{
    color: inherit;
  }
}
