body {
    margin-top: 140px;
    font-family: 'Comfortaa', cursive;
    background: #F0F0F0;

    table {
        border-collapse: collapse;
        width: 50vw;
      }
      
      table, th, td {
        border: 1px solid #c3bfbf;
      }

}    